

/*
 * content
 */


#map { 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100% !important; 
    width: 100%; 
    z-index:-1;
}

#panel {
    background-color: rgba(125,125,125,0.5);
    position: absolute;
    top: 20px;
    bottom : 20px;
    right: 20px;
    width: 500px;
}
#city-name{
     margin-top:6px;
     margin-bottom:6px;
}

#media {
    display:none;
    background-color: rgba(125,125,125,0.5);
    position: absolute;
    top: 40px;
    bottom : 40px;
    right: 40px;
    left: 40px;
}
#media-content{
    padding: 30px;
    overflow: auto;
    height:94%;

}
#media img{
    max-width: 100%;
    max-height: 100%;;
}

#header{
    margin:10px;
}

#media-close{
    border-bottom:none !important;
    float: right;
}
#media-close:hover{
    border-bottom:none !important;
}
#panel .tab-content {
    overflow-x: auto;
    overflow-y: auto;
}

#panel p {
    margin-bottom: 10px;
    margin-top: 10px;
}


.have-you-seen-list,
.current-list {
    margin-top: 25px;
}

.have-you-seen-list .heading,
.current-list .heading {
    font-weight: bold;
}

#add-a-squat ul {
    list-style: disc;
    padding-left: 40px;
}

#current-list-filter-input {
    border: 1px solid black;
    width: 100%;
    color: black;
}

.list-cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}


/*
 * leaflet
 */

.leaflet-popup-content .place-popup-content img.place-image {
    max-height: 500px !important;
    max-width: 300px !important;
}

.leaflet-popup-content .place-popup-content p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.leaflet-popup-content {
    overflow-x: auto;
    overflow-y: auto;
}

.leaflet-popup-content-wrapper{
    background-color: rgba(125, 125, 125, 0.5);
    color: white;
}

.leaflet-popup-close-button{
    border-bottom:none;
}
.leaflet-popup-close-button:hover{
    border-bottom:none !important;
}

/*
 * Bootstrap
 */

.tab-pane {
    padding: 20px;
}
